$orange: #F9461C;
$light-orange: #ea753f;
$yellow: #F2AF00;
$yellow-background: #ffc300;
$grey: #4D4F53;
$blue: #273D8D;
$white: #fff;

.orange {
  color: $orange;
}

.light-orange {
  color: $light-orange;
}

.yellow {
  color: $yellow;
}

.grey {
  color: $grey;
}

.blue {
  color: $blue;
}

.white {
  color: #fff;
}

@font-face {
  font-family: gotham-rounded-light;
  src: url('../fonts/gotham_rounded_light.woff');
}

@font-face {
  font-family: gotham-rounded-medium;
  src: url('../fonts/gotham_rounded_medium.woff');
}

h1, h2, h3, h4, h5, h6 {
  font-family: gotham-rounded-medium;
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

p, body {
  font-size: 22px;
  font-family: gotham-rounded-light;
}

/* Refactor with counter rotating */

.logo {
  max-height: 100px;
  float: right;
}

.section-horizontal {
  width: 100%;
  display: inline-block;
  padding: 50px 10px 75px 10px;

  &.section-navbar {
    padding: 0px 20px;
    text-align: center;
    display: inline-block;
  }

  &.section-right-down {
    transform: skewY(2deg);

    .counter-section {
      transform: skewY(-2deg);
    }
  }

  &.section-left-down {
    transform: skewY(-2deg);

    .counter-section {
      transform: skewY(2deg);
    }
  }

  &.section-bg-yellow {
    background-color: $yellow-background;
  }

  &.section-bg-blue {
    background-image: radial-gradient(circle at 50% 50%, #a1a5af, #304a8f);
  }

  &.section-bg-white {
    background-color: $white;
  }

  &.section-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  &.section-bg-2 {
    background-image: url('../images/background-2.jpg');
  }

  &.section-bg-3 {
    background-image: url('../images/background-3.jpg');
  }
}
