$orange: #F9461C;
$light-orange: #ea753f;
$yellow: #F2AF00;
$yellow-background: #ffc300;
$grey: #4D4F53;
$blue: #273D8D;

.orange {
  color: $orange;
}

.light-orange {
  color: $light-orange;
}

.yellow {
  color: $yellow;
}

.grey {
  color: $grey;
}

.blue {
  color: $blue;
}

.white {
  color: #fff;
}

@font-face {
  font-family: gotham-rounded-light;
  src: url('../fonts/gotham_rounded_light.woff');
}

@font-face {
  font-family: gotham-rounded-medium;
  src: url('../fonts/gotham_rounded_medium.woff');
}

h1, h2, h3, h4, h5, h6 {
  font-family: gotham-rounded-medium;
  font-weight: 700;
}

h1 {
  font-size: 60px;
}

p, body {
  font-size: 22px;
  font-family: gotham-rounded-light;
}

.navbar.navbar-genx {
  border: 0px;
  border-radius: 0px;
  background-color: transparent;
  overflow: hidden;

  .navbar-nav {
    margin-top: 5px;
  }

  .navbar-brand {
    padding: 0;
    height: 100px;

    img {
      margin-top: -20px;
      max-height: 100px;
    }
  }
}

.x-section {
  z-index: 10;
  padding-top: 50px;
  background-color: #fff;

  &.x-section-1 {
    transform: skewY(-2deg);
  }

  &.x-section-2 {
    transform: skewY(2deg);
  }

  &.yellow-background {
    background-color: $yellow-background;
  }

  &.blue-background {
    background-image: radial-gradient(circle at 50% 50%, #a1a5af, #304a8f);
  }

}

.background-2 {
  z-index: 0;
  background-image: url('../images/background-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-3 {
  z-index: 0;
  background-image: url('../images/background-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}